.almanac {
  position: fixed;
  bottom: 10px;
  left: 50%;
  border: 3px solid #000;
  background: #eab54f;
  color: #000;
  height: 200px;
  width: 98vw;
  transform: translateX(-50%);
  line-height: 40px;
  font-size: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  &__buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}