.button {
  background: #4286F5;
  border: 3px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding: 0 20px;
  color: #fff;
  font-weight: 500;
  transition: transform 0.2s;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
  &.green {
    background: #4CAF50;
  }
  &.brown {
    color: #000;
    border-color: #723E19;
    background: #EAB54F;
  }
  &.left {
    padding-left: 30px;
    background-image: url("/assets/img/icons/left.svg?inline");
    background-repeat:  no-repeat;
    background-position: 10px center;
    background-size: 18px;
  }
  &.big {
    height: 55px;
    line-height: 50px;
    font-size: 24px;
  }
}
