.page-header {
  background: #D9D9D9;
  color: #525252;
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: sans-serif;
}