.text-input-container {
  width: 100%;
  position: relative;
}
.text-input {
  background-color: #fff;
  border: 3px solid #000;
  height: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  &--error {
    border: 3px solid #ff3d00;
  }
  &--icon {
    padding-left: 33px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    background-size: 26px 26px;
  }
  &--icon-user {
    background-image: url("/assets/img/icons/user.svg?inline");
  }
  &--icon-lock {
    background-image: url("/assets/img/icons/lock.svg?inline");
  }
  &--icon-envelope {
    background-image: url("/assets/img/icons/envelope.svg?inline");
  }
}
