.tool {
  width: 64px;
  height: 64px;
  background-color: #8a8a8a;
  cursor: pointer;
  background-position: center center;
  background-size: 85%;
  background-repeat: no-repeat;
  &--seeds {
    background-image: url("/assets/img/icons/tools/seeds.svg?inline");
  }
  &--bailer {
    background-image: url("/assets/img/icons/tools/bailer.svg?inline");
  }
  &--fertilizer {
    background-image: url("/assets/img/icons/tools/fertilizer.svg?inline");
  }
  &--shovel {
    background-image: url("/assets/img/icons/tools/shovel.svg?inline");
  }
  &--sprayer {
    background-image: url("/assets/img/icons/tools/sprayer.svg?inline");
  }
  &--active {
    transform: scale(1.5);
  }
}
