.tool {
  width: 64px;
  height: 84px;
  border-radius: 10px;
  background-color: #D9D9D9;
  cursor: pointer;
  background-position: center 7px;
  background-size: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.3s;
  &__price {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 100%;
    color: #E47C32;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-family: sans-serif;
    height: 15px;
    padding-left: 20px;
    background: url("/assets/img/icons/money.svg?inline") no-repeat left center;
    background-size: 90%;
    display: flex;
    align-items: center;
  }
  &--seeds {
    background-image: url("/assets/img/icons/tools/seeds.svg?inline");
  }
  &--bailer {
    background-image: url("/assets/img/icons/tools/bailer.svg?inline");
  }
  &--fertilizer {
    background-image: url("/assets/img/icons/tools/fertilizer.svg?inline");
  }
  &--shovel {
    background-image: url("/assets/img/icons/tools/shovel.svg?inline");
  }
  &--sprayer {
    background-image: url("/assets/img/icons/tools/sprayer.svg?inline");
  }
  &--active {
    transform: translateY(-25%);
  }
}
