.auth-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #67c5ed url("/assets/img/illustrations/welcome-background.jpg") no-repeat center bottom;
  background-size: 100%;
  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__content {
    padding: 20px 20px 0;
    margin: auto 0;
  }
  &__btn-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 200px;
    margin: 0 auto;
  }
  &__footer {
    padding: 0 20px 20px;
    max-width: 160px;
  }
}
