.auth-screen {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #67c5ed url("/assets/img/illustrations/welcome-background.jpg") no-repeat center bottom;
  background-size: 100%;
  &__content {
    padding: 20px 20px 0;
    margin-bottom: 10px;
    margin-top: auto;
  }
  &__footer {
    margin-top: auto;
    padding: 0 20px 20px;
    max-width: 160px;
  }
}
