.dev-room {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  background: #78710e url("/assets/img/illustrations/texture-sprite-grass.png");
  background-size: 25%;
  &__heading {
    font-size: 36px;
  }
  &__ui-kit {
    padding: 20px;
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
  }
}
