.farm-screen {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: #78710e url("/assets/img/illustrations/texture-sprite-grass.png");
  background-size: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__scene {
    width: 100%;
    height: 100%;
    canvas {
      width: 100%;
      height: auto;
      touch-action: auto !important;
    }
  }
  &__aside {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__wallet {
    position: fixed;
    top: 0;
    right: 10px;
  }
  &__footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
