.welcome-screen {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: #78710e url("/assets/img/illustrations/texture-sprite-grass.png");
  background-size: 20%;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  &__top {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 45px auto auto;
    @media screen and (min-width: 768px) {
      margin: 45px auto 135px;
    }
  }
  &__language {
    position: fixed;
    top: 45px;
    right: 5px;
  }
  &__middle {
    margin: 0 10px 53px;
    @media screen and (min-width: 768px) {
      width: 400px;
      margin: 0 auto;
    }
  }
  &__bottom {
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 10px;
    @media screen and (min-width: 768px) {
      position: static;
      width: 400px;
      margin: 0 auto;
    }
  }
}
