.loader-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}

.loader {
  background: #78710e url("/assets/img/illustrations/texture-sprite-grass.png") repeat;
}