.toaster {
  width: calc(100% - 40px);
  height: 85px;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  max-height: 85px;
  overflow: auto;
  margin: 20px 20px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 3px solid #000;
  &--success {
    background: #4caf50;
  }
  &--error {
    background: #ff5c00;
  }
}

.toaster-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
