.toaster {
  width: 100%;
  height: 85px;
  padding: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  max-height: 85px;
  overflow: auto;
  margin-bottom: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 3px solid #000;
  &--success {
    background: #4CAF50;
  }
  &--error {
    background: #FF5C00;
  }
}

.toaster-container {
  position: fixed;
  top: 66px;
  left: 0;
  right: 0;
}
